// Quasar Stylus Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files.

// Check documentation for full list of Quasar variables

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   = #d7e0df
$secondary = #597884
$accent    = #f2e2dd
$purple    = #f89554


/*
$positive  = #21BA45
$negative  = #C10015
$info      = #31CCEC
$warning   = #F2C037
*/

$dark    = #597884

$grey-2    = #597884
$grey-3    = #597884
$grey-5    = #597884
$grey-6    = #597884
$grey-7    = #597884
